@model Demo_ASP_Image.WebApp.Models.ImageData
@using System.Web.Hosting

@{
   ViewBag.Title = "Image";
}

<h2>Detail de l'image</h2>

<h3>@Html.DisplayFor(model => model.OriginalName)</h3>

<div>
   <img src="@Url.Content(Model.ImagePath)" alt="@Model.OriginalName" height="400" />
</div>
