@model Demo_ASP_Image.WebApp.Models.ImageData

@{
   ViewBag.Title = "Image";
}

<h2>@Html.DisplayFor(model => model.OriginalName)</h2>
@if (!string.IsNullOrWhiteSpace(Model.Description))
{
   <p>@Html.DisplayFor(model => model.Description)</p>
}

<div>
   <img src="@Url.Content(Model.ImagePath)" alt="@Model.OriginalName" height="400" />
</div>
