@{
   ViewBag.Title = "Index";
}

<h2>Demo de gestion d'image en ASP</h2>

@Html.ActionLink("Envoyer une image", "UploadImage", "Home", new { @class = "btn btn-primary" })

@Html.ActionLink("Voir les images", "Images", "Home", new { @class = "btn btn-success" })